body {
  background-color: #8f5f32;
  /* background-color: #fcf6ed; */
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  min-height: 100vh;
  color: #ffffff;
  /* color: #16913d; */
  
}

#banner {
  background-image: url("assets/1000_F_416456157_gAC4vXCygslyIqtbFXOJAIgQEIXuq67M.jpg");
  box-shadow: 0 1px 10px #52392e;
  color: #fcf6ed;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 1px;
  padding-bottom: 8px;
}

.listHeader {
  
}

.categories {
  border-style: hidden hidden hidden solid;
  border-color: rgb(255, 0, 170);
  background-color: #efcbae;
  border-width: 10px;
}

#instruction {
  text-align: left;
  margin-left: 45px;
}

#secondColumn {
  margin-left: 80px;
}

.columns {
  display: flex;
  flex-grow: 1;
  margin-right: 60px;
}


.listItem {
  
}

