body {
  background-color: rgb(216, 237, 178);;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  min-height: 100vh;
  color:rgb(73, 112, 0);
}

h1, h3 {
  color:rgb(73, 112, 0);
  text-align: center;
  text-shadow: 0 0 2px rgb(255, 255, 255);
}

.columns {
  display: flex;
  flex-grow: 1;
}

